{% extends "base_generic.html" %}

{% block content %}
    <h1>{{ ticker.ticker_name }} Overview</h1>
    <h2>Category: <a href="{% url 'category-detail' ticker.category.category_name %}">{{ ticker.category.category_name }}</a></h2>
    {% if ticker.ticker_type == 'Future' %}
        <h2>Last Price (Front-month): {{ ticker.get_latest_quote.closing_price_1 }} (Updated {{ ticker.get_latest_price_update_date }})</h2>
    {% else %}
        <h2>Last Price: {{ ticker.get_latest_quote.closing_price }}</h2>
    {% endif %}

    <p>Link {{ ticker.link }}</p>

    <div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="chLine"></canvas>
                </div>
            </div>
        </div>
     </div>
    </div>
    <h3>Price History</h3>
    <table class="table table-striped table-sm">
    {% if ticker.ticker_type == 'ETF' %}
        <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
            {% for quote in ticker.get_quotes %}
                 <tr>
                     <td>{{ quote.date }}</td>
                     <td>{{ quote.closing_price }}</td>
                 </tr>
            {% endfor %}
        </tbody>
    {% elif ticker.ticker_type == 'Future' %}
        <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Contango</th>
          <th scope="col">Front Contango</th>
          <th scope="col">Front Month</th>
          <th scope="col">Back Month</th>
        </tr>
        </thead>
        <tbody>
            {% for quote in ticker.get_futures_data %}
                 <tr>
                    <td>{{ quote.date }}</td>
                    <td>{{ quote.contango }}</td>
                    <td>{{ quote.front_contango }}</td>
                    <td>{{ quote.closing_price_1 }}</td>
                    <td>{{ quote.closing_price_2 }}</td>
                 </tr>
            {% endfor %}
        </tbody>
    {% endif %}
    </table>
{% endblock %}
{% block scripts %}
<script>
var chartColors = ['#007bff','rgba(0,122,255,0.5)',
                   '#28a745','rgba(40,167,69,0.5)',
                   '#6610f2','rgba(102,16,242,0.5)',];
var chartDatasets = [
    {% if ticker.ticker_type == 'ETF' %}
        {
        data: {{ price_history }},
        backgroundColor: chartColors[1],
        borderColor: chartColors[0],
        borderWidth: 4,
        pointBackgroundColor: chartColors[0]
        }
    {% elif ticker.ticker_type == 'Future' %}
        {
        label: 'Front Month',
        data: {{ price_history_1 }},
        backgroundColor: chartColors[1],
        borderColor: chartColors[0],
        borderWidth: 4,
        pointBackgroundColor: chartColors[0]
        },
        {
        label: 'Back Month',
        data: {{ price_history_2 }},
        backgroundColor: chartColors[3],
        borderColor: chartColors[2],
        borderWidth: 4,
        pointBackgroundColor: chartColors[2]
        },
        {
        label: 'Third Month',
        data: {{ price_history_3 }},
        backgroundColor: chartColors[5],
        borderColor: chartColors[4],
        borderWidth: 4,
        pointBackgroundColor: chartColors[4]
        },
    {% endif %}
];
var chartData = {
  labels: {{price_dates|safe}},
  datasets: chartDatasets,
};
var chLine = document.getElementById("chLine");
if (chLine) {
  new Chart(chLine, {
  type: 'line',
  data: chartData,
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: false
        },
      }]
    },
    legend: {
        display: {% if ticker.ticker_type == 'Future' %} true {% else %} false {% endif %},
    }
  }
  });
}
</script>
{% endblock %}